<section id="main-content">
    <div id="guts">
    
      <div id="new_project">
          <a href="page/new_project">New Project</a>
          </div>
          
          <div id="existing-project">
          <a href="page/existing_projects">Existing Project</a>
          </div>
          
          <div id="past-project">
          <a href="page/past_projects">Past Project</a>
          </div>
          
          <div id="daily-dashboard">
          <a href="page/daily_dashboard">Daily Dashboard</a>
          </div>

    </div>
    </section>
