<section id="main-content">
    <div id="guts">
    
      <div id="new_project">
          <a href="quotes/new_quote">New Quote</a>
          </div>
          
          <div id="existing-project">
          <a href="quotes/existing_quotes">Existing Quotes</a>
          </div>
          
          <div id="past-project">
          <a href="quotes/past_quotes">Past Project</a>
          </div>
          
          <div id="daily-dashboard">
          <a href="page/daily_dashboard">Daily Dashboard</a>
          </div>

    </div>
    </section>
