<section id="main-content">
  <div id="guts">

    <div id="col1">
      <h2>Previous Day</h2>

      <div id="to-be-shipped">
        <h2>To Be Shipped</h2>

        - Job 1<p>
        - Job 2<p>
        - Job3

      </div>

    </div>

    <div id="col2">
      <h2>Today | Week | Month</h2>
    </div>

    <div id="col3">
      <h2>Next Day</h2>

      <div id="pending-quotes">
        <h2>Pending Quotes</h2>

        - Q1245<p>
        - Q1234<p>
        - Q1234




      </div>
    </div>

    <div style="clear:both;"></div>
  </div>
</section>