<section id="main-content">
  <div id="guts">

    <header>
      <h1>
        <nav>
        </nav>
      </h1>
      <nav>
        <ul class="group">
          <li><a href="pending-quotes.php">Pending Quotes</a></li>
          <li><a href="jobs-in-progress.php">Jobs In Progress</a></li>
        </ul>
      </nav>
    </header>

    <h2 class="page-title">Jobs In Progress</h2> <h3>< <a href="http://web-apps.fumi-digital.co.uk/new-project.php">back</a></h3>
    <div id="quote">
      <span class="quote-no"><a href="jobs/j1234.php">J#1234</a></span>
      <span class="excerpt">Excerpt... (->)</span>
    </div>

    <div style="clear:both;"></div>
  </div>
</section>