<section id="main-content">
  <div id="guts">

    <h2 class="page-title">Past Projects</h2>
    <h3>< <a href="http://web-apps.fumi-digital.co.uk/">back</a></h3>
    Once a job is completed it needs to be marked as such.  Then the past projects button would show an archive.  Just a list.

    <div style="clear:both;"></div>
  </div>
</section>