<h1>Layout#header</h1>
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

  <title>Dynamic Page | Home</title>

  <link rel='stylesheet' type='text/css' href='http://web-apps.fumi-digital.co.uk/css/style.css' />

  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type='text/javascript' src='http://web-apps.fumi-digital.co.uk/js/modernizr.js'></script>
  <script type='text/javascript' src='http://web-apps.fumi-digital.co.uk/js/dynamicpage.js'></script>

  <script type="text/javascript">
      var datefield=document.createElement("input")
      datefield.setAttribute("type", "date")
      if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
          document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
          document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
          document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
      }
  </script>

  <script>
      if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
          jQuery(function($){ //on document.ready
              $('#artwork-date').datepicker();
              $('#permit-date').datepicker();
              $('#install-date').datepicker();
              $('#ship-date').datepicker();
          })
      }
  </script>

</head>

<body>

<h1>Web App</h1>
<h4 class="web-app">Fumi Development Environment </h4>
<h4><a href="http://web-apps.fumi-digital.co.uk/">Home</a></h4>
<div id="page-wrap">
